.job-search-container {
  background: linear-gradient(135deg, #fdf3f4, #c1dff0);
  padding: 20px;
  border-radius: 10px;
}

.job-info {
  padding: 20px;
}

.job-info h2 {
  font-size: 2rem;
  font-weight: bold;
}

.highlight {
  color: #ff005e;
}

.search-form {
  margin-top: 20px;
}

.search-input,
.location-select,
.search-button {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

.search-button {
  background-color: #ff005e;
  color: white;
  cursor: pointer;
}

.job-image {
  text-align: center;
  margin-top: 20px;
}

.job-image-element {
  max-width: 100%;
  border-radius: 10px;
  height: auto;
}

@media (min-width: 768px) {
  .job-info {
    padding-left: 20px;
  }

  .job-info h2 {
    font-size: 3rem;
  }

  .job-image {
    margin-top: 0;
  }
}
