<!-- view-status-admin.component.html -->
<div class="container text-center py-2">
  <p class="text-subtitle-color fs-2">Estados</p>
</div>
<mat-card class="shadow border-5 border-top">
  <mat-card-header>
    <!-- Campo de búsqueda -->
    <mat-form-field>
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" />
    </mat-form-field>
  </mat-card-header>
  <mat-card-content>
    <div class="table-responsive">
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="mat-elevation-z8"
      >
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
          <td mat-cell *matCellDef="let status">{{ status.id }}</td>
        </ng-container>

        <!-- First Name Column -->
        <ng-container matColumnDef="first_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
          <td mat-cell *matCellDef="let status">{{ status.first_name }}</td>
        </ng-container>

        <!-- Last Name Column -->
        <ng-container matColumnDef="last_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
          <td mat-cell *matCellDef="let status">{{ status.last_name }}</td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
          <td mat-cell *matCellDef="let status">{{ status.email }}</td>
        </ng-container>

        <!-- Avatar Column -->
        <ng-container matColumnDef="avatar">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Avatar</th>
          <td mat-cell *matCellDef="let status">
            <img
              [src]="status.avatar"
              alt="{{ status.first_name }}"
              class="img-fluid rounded-5"
            />
          </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let status">
            <!-- Aquí puedes agregar botones para detalles, edición y eliminación -->
            <button
              mat-button
              class="btn btn-primary"
              (click)="openDetailsModal(status)"
            >
              <i class="bi bi-eye-fill"></i>
            </button>
            <button
              mat-button
              class="btn btn-warning"
              (click)="openEditModal(status)"
            >
              <i class="bi bi-pencil-square"></i>
            </button>
            || Delete
            <!-- <button mat-button (click)="deleteUser(status.id)">Delete</button> -->
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <mat-paginator
      [length]="dataSource.data.length"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
    >
    </mat-paginator>
  </mat-card-footer>
</mat-card>
