
.text-color {
    color: #2c2b2b; /* Color de texto principal */
  }

  .back-color {
    background: linear-gradient(135deg, #fdf3f4, #c1dff0);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .icon-color {
    color: #a600ff; 
    font-weight: 600;
    font-size: 1.2rem;
  }
  
  /* Estilo general para las cardd */
  .job-card {
    background: linear-gradient(135deg, #fdf3f4, #c1dff0); 
    border-left: 5px solid #a600ff; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;  }

  /* caudno pasa el mause */
  .job-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  .job-card-header {
    background: transparent; 
    padding: 15px;
  }
  .job-title {
    font-size: 1.5em; 
    font-weight: bold; 
    color: #333; 
    margin: 0;
  }
  .job-card-body {
    padding: 5px;
    background: transparent; 
  }
  .company {
    color: #a600ff; 
    font-weight: 600; 
  }
  
  .location, .job-type, .published {
    color: rgb(30, 29, 29); 
    font-weight: normal;
    margin: px 2; 
  }
  
  .job-list {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espacio entre tarjetas */
  }

  