        <header>
            <app-header-main></app-header-main>
        </header>       
       
       <main class="back-color">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-color">
                        <br>
                        <br>
                        
                        <app-navbar-filtros></app-navbar-filtros>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="custom-card">
                            <div class="card-header">
                                <h3 class="fs-1 fw-bold text-subtitle-color">Menú de Postulaciones</h3>
                            </div>
                            <div class="card-body">
                                <div class="job-list">
                                    <div class="job-card" *ngFor="let job of jobList">
                                        <div class="job-card-header">
                                            <h2 class="job-title">{{ job.title }}</h2>
                                        </div>
                                        <div class="job-card-body">
                                            <p class="company">{{ job.company }}</p>
                                            <p class="location">{{ job.location }}</p>
                                            <p class="job-type">{{ job.jobType }}</p>
                                            <p class="published">{{ job.published }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <!-- Contenido del pie de página si es necesario -->
        </footer>