<!-- Modal trigger button -->
<button
  type="button"
  class="btn btn-primary btn-lg shadow"
  data-bs-toggle="modal"
  data-bs-target="#modalDetailStatus"
>
  Detalles
</button>

<!-- Modal Body -->
<div
  class="modal fade"
  id="modalDetailStatus"
  tabindex="-1"
  data-bs-backdrop="static"
  data-bs-keyboard="true"
  role="dialog"
  aria-labelledby="modalTitleDetailStatus"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title text-subtitle-color" id="modalTitleDetailStatus">
          Detalles del Estado
        </p>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- Nombre -->
        <div class="form-floating mb-4">
          <input
            type="text"
            class="form-control shadow"
            id="detailName"
            name="detailName"
            autocomplete="off"
            placeholder="Nombre de Estado"
          />
          <label for="detailName" class="form-label fw-semibold"
            >Nombre del Estado<span class="text-danger">*</span></label
          >
        </div>
        <!-- Categoría -->
        <div class="form-floating mb-4">
          <input
            type="text"
            class="form-control shadow"
            id="detailCategory"
            name="detailCategory"
            autocomplete="off"
            placeholder="Categoría del Estado"
          />
          <label for="detailCategory" class="form-label fw-semibold"
            >Categoría del Estado<span class="text-danger">*</span></label
          >
        </div>
        <!-- Color -->
        <div class="form-floating mb-4">
          <input
            type="color"
            class="form-control shadow"
            id="detailColor"
            name="detailColor"
            autocomplete="off"
            placeholder="Color del Estado"
          />
          <label for="detailColor" class="form-label fw-semibold"
            >Color del Estado<span class="text-danger">*</span></label
          >
        </div>
        <!-- Acciones -->
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
