<div class="card text-center shadow">
  <div class="card-header text-primary">
    <div class="row">
      <div class="col"><i class="bi bi-facebook"></i></div>
      <div class="col"><i class="bi bi-instagram"></i></div>
      <div class="col"><i class="bi bi-threads"></i></div>
      <div class="col"><i class="bi bi-linkedin"></i></div>
    </div>
  </div>
  <div class="card-body">
    <p class="card-text">
      Por temas de atención al cliente comunícate al (+593) <b>0984322045</b>
    </p>
    <ul class="list-inline fw-bold">
      <li class="list-inline-item">Términos y Condiciones</li>
      <li class="list-inline-item">Política de Privacidad</li>
      <li class="list-inline-item">Condiciones de contratación</li>
    </ul>
  </div>
  <div class="card-footer text-muted">
    &copy; 2024 I.T.S.C.O - Tecnología Superior en Desarrollo de Software
  </div>
</div>
