<div class="container-fluid mt-5 px-5">
  <div class="card shadow p-3 mb-3 bg-body-tertiary rounded border-custom">
    <div class="card-header">
      <p class="fs-1 text-subtitle-color">
        Crea tu cuenta y encuentra tu empleo ideal
      </p>
    </div>
    <div class="card-body back-color">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-8 col-lg-7 col-xl-6">
          <form
            [formGroup]="registerUser"
            (ngSubmit)="onsubmit()"
            method="post"
            class="needs-validations"
            novalidate
          >
          <!-- Nombre y Apellido-->
            <div class="row">              
              <div class="col-md-6 col-12">
                <div class="form-floating mb-4">
                  <input
                    type="text"
                    class="form-control shadow"
                    id="name"
                    formControlName="name"
                    autocomplete="off"
                    placeholder="Ingresa tu nombre"
                    [ngClass]="{
                      'is-invalid':
                        registerUser.get('name')?.touched &&
                        registerUser.get('name')?.invalid
                    }"
                  />
                  <label for="name" class="form-label fw-semibold"
                    >Nombre(s) <span class="text-danger">*</span></label
                  >
                  <div
                    *ngIf="
                      registerUser.get('name')?.touched &&
                      registerUser.get('name')?.invalid
                    "
                    class="invalid-feedback"
                  >
                    <div *ngIf="registerUser.get('name')?.errors?.['required']">
                      El nombre es obligatorio.
                    </div>
                    <div *ngIf="registerUser.get('name')?.errors?.['pattern']">
                      El nombre no debe contener números o caracteres
                      especiales.
                    </div>
                  </div>
                </div>
              </div>              
              <div class="col-md-6 col-12">
                <div class="form-floating mb-4">
                  <input
                    type="text"
                    class="form-control shadow"
                    id="lastName"
                    formControlName="lastName"
                    autocomplete="off"
                    placeholder="Ingresa tu apellido"
                    [ngClass]="{
                      'is-invalid':
                        registerUser.get('lastName')?.touched &&
                        registerUser.get('lastName')?.invalid
                    }"
                  />
                  <label for="lastName" class="form-label fw-semibold"
                    >Apellido(s) <span class="text-danger">*</span>
                  </label>
                  <div
                    *ngIf="
                      registerUser.get('lastName')?.touched &&
                      registerUser.get('lastName')?.invalid
                    "
                    class="invalid-feedback"
                  >
                    <div
                      *ngIf="registerUser.get('lastName')?.errors?.['required']"
                    >
                      El apellido es obligatorio.
                    </div>
                    <div
                      *ngIf="registerUser.get('lastName')?.errors?.['pattern']"
                    >
                      El apellido no debe contener números o caracteres
                      especiales.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Fila 2 -->
            <div class="row">
              <div class="col-md-6 col-12">
                <div class="row">
                  <!-- Tipo de DNI -->
                  <div class="col-5">
                    <div class="form-floating mb-4">
                      <select
                        formControlName="typeDni"
                        id="typeDni"
                        class="form-select shadow"
                      >
                        <option value="" disabled selected>Tipo de DNI</option>
                        <option value="CI">Cédula de Identidad</option>
                        <option value="PA">Pasaporte</option>
                      </select>
                      <label for="typeDni" class="form-label fw-semibold"
                        >Tipo de DNI</label
                      >
                    </div>
                  </div>
                  <!-- Número de Identificación -->
                  <div class="col-7">
                    <div class="form-floating mb-4">
                      <input
                        type="text"
                        class="shadow form-control"
                        id="numDni"
                        formControlName="numDni"
                        autocomplete="off"
                        placeholder="Ingresa tu número de identificación"
                        maxlength="10"
                        minlength="10"
                        [ngClass]="{
                          'is-invalid':
                            registerUser.get('numDni')?.touched &&
                            registerUser.get('numDni')?.invalid
                        }"
                      />
                      <label for="numDni" class="form-label fw-semibold"
                        >Identificación
                        <span class="text-danger">*</span></label
                      >
                      <div
                        *ngIf="
                          registerUser.get('numDni')?.touched &&
                          registerUser.get('numDni')?.invalid
                        "
                        class="invalid-feedback"
                      >
                        <div
                          *ngIf="registerUser.get('numDni')?.errors?.['required']"
                        >
                          El número de identificación es obligatorio.
                        </div>
                        <div
                          *ngIf="registerUser.get('numDni')?.errors?.['minlength']"
                        >
                          El número de identificación debe tener exactamente 10
                          dígitos.
                        </div>
                        <div
                          *ngIf="registerUser.get('numDni')?.errors?.['maxlength']"
                        >
                          El número de identificación no debe tener más de 10
                          dígitos.
                        </div>
                        <div
                          *ngIf="registerUser.get('numDni')?.errors?.['pattern']"
                        >
                          El número de identificación no debe tener letras o
                          caracteres especiales.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Número de teléfono -->
              <div class="col-md-6 col-12">
                <div class="form-floating mb-4">
                  <input
                    type="text"
                    class="shadow form-control"
                    id="phoneNumber"
                    formControlName="phoneNumber"
                    autocomplete="off"
                    placeholder="Ingresa tu teléfono de contacto"
                    maxlength="10"
                    [ngClass]="{
                      'is-invalid':
                        registerUser.get('phoneNumber')?.touched &&
                        registerUser.get('phoneNumber')?.invalid
                    }"
                  />
                  <label for="phoneNumber" class="form-label fw-semibold"
                    >Teléfono celular <span class="text-danger">*</span></label
                  >
                  <div
                    *ngIf="
                      registerUser.get('phoneNumber')?.touched &&
                      registerUser.get('phoneNumber')?.invalid
                    "
                    class="invalid-feedback"
                  >
                    <div
                      *ngIf="registerUser.get('phoneNumber')?.errors?.['required']"
                    >
                      El número de teléfono es obligatorio.
                    </div>
                    <div
                      *ngIf="registerUser.get('phoneNumber')?.errors?.['minlength']"
                    >
                      El número de teléfono debe tener exactamente 10 dígitos.
                    </div>
                    <div
                      *ngIf="registerUser.get('phoneNumber')?.errors?.['maxlength']"
                    >
                      El número de teléfono no debe tener más de 10 dígitos.
                    </div>
                    <div
                      *ngIf="registerUser.get('phoneNumber')?.errors?.['pattern']"
                    >
                      El número de teléfono no debe tener letras o caracteres
                      especiales.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Fila 3 -->
            <div class="row">
              <div class="col-md-6 col-12">
                <div class="form-floating mb-4">
                  <input
                    type="email"
                    class="shadow form-control"
                    id="email"
                    formControlName="email"
                    autocomplete="off"
                    placeholder="Ingresa tu correo electrónico"
                    [ngClass]="{
                      'is-invalid':
                        registerUser.get('email')?.touched &&
                        registerUser.get('email')?.invalid
                    }"
                  />
                  <label for="last_name" class="form-label fw-semibold"
                    >Correo Electrónico
                    <span class="text-danger">*</span></label
                  >
                  <div
                    *ngIf="
                      registerUser.get('email')?.touched &&
                      registerUser.get('email')?.invalid
                    "
                    class="invalid-feedback"
                  >
                    <div
                      *ngIf="registerUser.get('email')?.errors?.['required']"
                    >
                      El correo electrónico es obligatorio.
                    </div>
                    <div *ngIf="registerUser.get('email')?.errors?.['email']">
                      Por favor ingresa un correo electrónico válido.
                    </div>
                    <div *ngIf="registerUser.get('email')?.errors?.['pattern']">
                      El correo no debe contener MAYÚSCULAS o otros caracteres
                      especiales.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="input-group">
                  <div class="form-floating flex-grow-1">
                    <input
                      [type]="viewPasswordInput ? 'text' : 'password'"
                      class="shadow form-control"
                      id="password"
                      formControlName="password"
                      autocomplete="off"
                      placeholder="Ingresa tu contraseña"
                      [ngClass]="{
                        'is-invalid':
                          registerUser.get('password')?.touched &&
                          registerUser.get('password')?.invalid
                      }"
                    />
                    <label for="password" class="form-label fw-semibold"
                      >Contraseña <span class="text-danger">*</span></label
                    >                    
                  </div>
                  <span
                      type="button"
                      (click)="viewPassword()"
                      class="input-group-text"
                    >
                      <i
                        [ngClass]="
                          viewPasswordInput ? 'bi bi-eye-slash' : 'bi bi-eye'
                        "
                      ></i>
                    </span>
                </div>
                <div
                  *ngIf="
                    registerUser.get('password')?.touched &&
                    registerUser.get('password')?.invalid
                  "
                  class="invalid-feedback"
                >
                  <div
                    *ngIf="registerUser.get('password')?.errors?.['required']"
                  >
                    La contraseña es obligatoria.
                  </div>
                  <div
                    *ngIf="registerUser.get('password')?.errors?.['minlength']"
                  >
                    La contraseña debe tener al menos 8 caracteres.
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center my-3">
              <button
                type="submit"
                class="btn btn-primary shadow"
                [disabled]="!registerUser.valid"
              >
                Crear cuenta
              </button>
            </div>
          </form>
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1 job-image">
          <img
            src="https://www.multitrabajos.com/candidate/static/media/sign-in.2d89cef2.svg"
            alt="image form register"
            class="job-image-element"
          />
        </div>
      </div>
    </div>
  </div>
</div>
