<div class="container-fluid shadow">
  <nav class="navbar navbar-expand-sm navbar-light">
    <a
      class="navbar-brand text-title-color"
      [routerLink]="['/portal-admin']"
      routerLinkActive="router-link-active"
      >Portal Administrativo</a
    >
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    ></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <p class="mx-5 my-3"><b>Bienvenido:</b> User information</p>
        </li>
      </ul>
      <button
        class="btn btn-danger"
        [routerLink]="['/main']"
        routerLinkActive="router-link-active"
      >
        Cerrar Sesión
      </button>
    </div>
  </nav>
</div>
