<header>
  <app-header-admin></app-header-admin>
</header>
<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 d-md-none py-2">
        <button
          class="btn btn-primary w-100"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarAdminCollapse"
          aria-expanded="false"
        >
          Menú
        </button>
        <div class="collapse" id="navbarAdminCollapse">
          <app-navbar-admin></app-navbar-admin>
        </div>
      </div>
      <div class="col-12 col-md-2 d-none d-md-block py-3">
        <app-navbar-admin></app-navbar-admin>
      </div>
      <div class="col-12 col-md-10 py-3">
        <!-- Contenido -->
        <p class="text-center text-title-color">Configuración</p>
        <div class="row">
          <div class="col-12 col-sm-6 col-md-4">
            <div class="card shadow">
              <div class="card-body back-color border border-light">
                <h4 class="card-title text-primary fs-3">Usuarios</h4>
                <p class="card-text">Información adicional</p>
                <a
                  type="button"
                  [routerLink]="['/usuarios-page']"
                  routerLinkActive="router-link-active"
                  class="btn btn-primary shadow"
                  >Ingresar</a
                >
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            <div class="card shadow">
              <div class="card-body back-color border border-light">
                <h4 class="card-title text-primary fs-3">Empresas</h4>
                <p class="card-text">Información adicional</p>
                <a
                  type="button"
                  [routerLink]="['/empresas-page']"
                  routerLinkActive="router-link-active"
                  class="btn btn-primary shadow"
                  >Ingresar</a
                >
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            <div class="card shadow">
              <div class="card-body back-color border border-light">
                <h4 class="card-title text-primary fs-3">Postulaciones</h4>
                <p class="card-text">Información adicional</p>
                <a
                  type="button"
                  href="/portal-admin"
                  class="btn btn-primary shadow"
                  >Ingresar</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="row my-2">
          <div class="col-12 col-sm-6 col-md-4">
            <div class="card shadow">
              <div class="card-body back-color border border-light">
                <h4 class="card-title text-primary fs-3">Provincias</h4>
                <p class="card-text">Información adicional</p>
                <a
                  type="button"
                  href="/portal-admin"
                  class="btn btn-primary shadow"
                  >Ingresar</a
                >
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            <div class="card shadow">
              <div class="card-body back-color border border-light">
                <h4 class="card-title text-primary fs-3">Roles</h4>
                <p class="card-text">Información adicional</p>
                <a
                  type="button"
                  [routerLink]="['/roles-page']"
                  routerLinkActive="router-link-active"
                  class="btn btn-primary shadow"
                  >Ingresar</a
                >
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4">
            <div class="card shadow">
              <div class="card-body back-color border border-light">
                <h4 class="card-title text-primary fs-3">Estados</h4>
                <p class="card-text">Información adicional</p>
                <a
                  type="button"
                  [routerLink]="['/status-page']"
                  routerLinkActive="router-link-active"
                  class="btn btn-primary shadow"
                  >Ingresar</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer>
  <app-footer-admin></app-footer-admin>
</footer>
