<header>
    <app-header-admin></app-header-admin>
</header>
<main>
    <p class="justify-content-center align-items-center text-center text-title-color">
        Configuración Administrativa
    </p>
    
    <div class="row justify-content-center align-items-center g-3 mx-1 my-1">
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card shadow">
                <div class="card-body back-color border border-light">
                    <h4 class="card-title text-subtitle-color fs-3">Usuarios</h4>
                    <p class="card-text">Informacion adicional</p>
                    <a type="button" href="/portal-admin" class="btn btn-success shadow">Ingresar</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card shadow">
                <div class="card-body back-color border border-light">
                    <h4 class="card-title text-subtitle-color fs-3">Empresas</h4>
                    <p class="card-text">Informacion adicional</p>
                    <a type="button" href="/portal-admin" class="btn btn-success shadow">Ingresar</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card shadow">
                <div class="card-body back-color border border-light">
                    <h4 class="card-title text-subtitle-color fs-3">Postulaciones</h4>
                    <p class="card-text">Informacion adicional</p>
                    <a type="button" href="/portal-admin" class="btn btn-success shadow">Ingresar</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center align-items-center g-3 mx-1 my-1">
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card shadow">
                <div class="card-body back-color border border-light">
                    <h4 class="card-title text-subtitle-color fs-3">Roles</h4>
                    <p class="card-text">Informacion adicional</p>
                    <a type="button" href="/portal-admin" class="btn btn-primary shadow">Ingresar</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card shadow">
                <div class="card-body back-color border border-light">
                    <h4 class="card-title text-subtitle-color fs-3">Perfiles</h4>
                    <p class="card-text">Informacion adicional</p>
                    <a type="button" href="/portal-admin" class="btn btn-primary shadow">Ingresar</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card shadow">
                <div class="card-body back-color border border-light">
                    <h4 class="card-title text-subtitle-color fs-3">Estados</h4>
                    <p class="card-text">Informacion adicional</p>
                    <a type="button" href="/portal-admin" class="btn btn-primary shadow">Ingresar</a>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <app-footer-admin></app-footer-admin>
</footer>