<aside>
    <p> Menu </p>
    <a [routerLink]="['/portal-admin']" routerLinkActive="router-link-active" >
      <i class="fa fa-user-o" aria-hidden="true"></i>
      My drive
    </a>
    <a [routerLink]="['/portal-admin']" routerLinkActive="router-link-active" >
      <i class="fa fa-laptop" aria-hidden="true"></i>
      Computers
    </a>
    <a [routerLink]="['/portal-admin']" routerLinkActive="router-link-active">
      <i class="fa fa-clone" aria-hidden="true"></i>
      Shared with me
    </a>
    <a [routerLink]="['/portal-admin']" routerLinkActive="router-link-active" >
      <i class="fa fa-star-o" aria-hidden="true"></i>
      Starred
    </a>
    <a [routerLink]="['/portal-admin']" routerLinkActive="router-link-active" >
      <i class="fa fa-trash-o" aria-hidden="true"></i>
      Trash
    </a>
  </aside>  
  