<aside>
  <p>Menu</p>
  <a [routerLink]="['/portal-admin']" routerLinkActive="router-link-active">
    <i class="bi bi-people-fill"></i>
    <span class="d-none d-md-inline">Usuarios</span>
  </a>
  <a [routerLink]="['/portal-admin']" routerLinkActive="router-link-active">
    <i class="bi bi-building-fill"></i>
    <span class="d-none d-md-inline">Empresas</span>
  </a>
  <a [routerLink]="['/portal-admin']" routerLinkActive="router-link-active">
    <i class="bi bi-card-list"></i>
    <span class="d-none d-md-inline">Postulaciones</span>
  </a>
  <a [routerLink]="['/portal-admin']" routerLinkActive="router-link-active">
    <i class="bi bi-ui-checks"></i>
    <span class="d-none d-md-inline">Roles</span>
  </a>
  <a [routerLink]="['/portal-admin']" routerLinkActive="router-link-active">
    <i class="bi bi-person-lines-fill"></i>
    <span class="d-none d-md-inline">Perfiles</span>
  </a>
  <a [routerLink]="['/portal-admin']" routerLinkActive="router-link-active">
    <i class="bi bi-hdd-stack"></i>
    <span class="d-none d-md-inline">Estados</span>
  </a>
</aside>
