.text-color {
  color: #4a4a4a;
}

.back-color {
  background: linear-gradient(135deg, #fdf3f4, #c1dff0);
}

.icon-color {
  color: #a600ff;
}

.custom-font-size {
  font-size: 2.7rem;
}

.highlight {
  font-weight: bold;
  font-size: 24px;
}
