<div class="container-fluid mt-5 px-5">
  <div class="card shadow p-3 mb-3 bg-body-tertiary rounded border-custom">
    <div class="card-header">
      <p class="fs-1 fw-bold text-title-color">
        Regístrate y encuentra el trabajo que deseas
      </p>
    </div>
    <div class="card-body back-color">
      <div class="row">
        <div class="col-md-6 job-image">
          <img
            src="https://cdni.iconscout.com/illustration/premium/thumb/fill-registration-form-6492574-5402759.png?f=webp"
            alt="image form register"
            class="job-image-element"
          />
        </div>
        <div class="col-md-6 job-info">
          <ul class="fs-5 fw-semibold lh-lg">
            <li class="list-unstyled">
              <i class="bi bi-rocket-takeoff icon-color"></i>
              Ingresa en la opción CREAR CUENTA, escribe tus datos y
              verifiquemos.
            </li>
            <li class="list-unstyled">
              <i class="bi bi-pencil icon-color"></i>
              Completa la información principal de tu perfil a través de las
              preguntas por pasos que te haremos. Inmediatamente después que te
              registres.
            </li>
            <li class="list-unstyled">
              <i class="bi bi-check-square icon-color"></i>
              Postulate a los trabajos que mas te interesen y sigue el proceso
              de tus postulaciones.
            </li>
            <li class="list-unstyled">
              <i class="bi bi-info-square icon-color"></i>
              Recuerda mantener tu información actualizada desde la sección de
              tu perfil.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
